@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility */
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7;
  color: grey;
  font-weight: 400;
  font-size: 1rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

img {
  width: 100%;
}

.img-fluid {
  max-width: 100%;
}

.hide {
  display: none !important;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #a2c0be;
  border-radius: 30px;
  background-color: #a2c0be;
  color: #fff;
  line-height: 1.5;
  transition: all 0.3s ease;
}

.paws {
  height: 32px;
  width: 91px;
  margin-left: -7px;
  margin-bottom: 23px;
  margin-top: -9px;
}

.paws img {
  width: 100%;
  height: 100%;
}

h2 {
  color: #000;
  font-size: 32px;
  padding-top: 2px;
  margin-bottom: 16px;
  line-height: 1.2;
  text-size-adjust: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: #fff;
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
}

.sticky .header__logo {
  padding: 5px;
}

.sticky .header__nav-item > a {
  padding: 20px;
}

button:focus {
  outline: none;
}

/****************** DESKTOP FIRST ******************/
/********* 1. Header *********/
.header {
  height: 100vh;
  background-color: #F8F9FA;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.header__navigation .container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  padding: 15px;
}

.header__logo a {
  height: 100%;
  font-size: 32px;
  color: #000;
}

.header__logo span {
  font-size: 30px;
  color: #a2c0be;
}

.header__nav-desktop {
  display: flex;
  padding: 0 15px;
}

.header__hamburger {
  display: none;
}

.header__nav-item a {
  display: inline-block;
  padding: 30px 20px;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
}

.header__nav-item a i {
  padding-left: 3px;
  vertical-align: text-top;
  padding-top: 7px;
  font-size: 9px;
}

.header__nav-item:last-child a {
  margin-right: 0;
}

.header__nav-item:hover a {
  color: #000;
}

.header__nav-item--nest1 {
  z-index: 2;
  border-top: 2px solid #a2c0be;
  position: absolute;
  width: 210px;
}

.header__nav-item--nest1 li a {
  width: 100%;
  padding: 9px 20px;
  background-color: #fff;
  color: #000;
}

.header__nav-item--nest1 li a i {
  padding-left: 80px;
}

.header__nav-item--nest1 li a:hover {
  background-color: #eff1f3;
}

.header__nav-item--nest2 {
  z-index: 2;
  border-top: 2px solid #a2c0be;
  position: relative;
  left: 100%;
  top: -45px;
  width: 210px;
}

.header__nav-item--nest2 li a {
  width: 100%;
  padding: 9px 20px;
  background-color: #fff;
  color: #000;
}

.header__nav-item--nest2 li a:hover {
  background-color: #eff1f3;
}

.header__showcase {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.header__showcase .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__showcase-info {
  flex-basis: 55%;
  align-self: flex-start;
  padding: 70px 15px 0 30px;
}

.header__showcase-info h1 {
  color: #000;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 8px;
}

.header__showcase-info p {
  color: #999999;
  font-weight: 100;
  font-size: 19.2px;
  width: 80%;
  line-height: 1.5;
}

.header__showcase-img {
  flex-basis: 50%;
}

.header__showcase-img img {
  max-width: 80%;
  margin: 0 16px -8px 15px;
}

/* *********** 2. Section: Welcome ********** */
.welcome {
  padding: 80px 0;
}

.welcome__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 64px;
}

.welcome__heading p {
  width: 50%;
  margin: 0;
}

.welcome__article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcome__article:nth-child(3) .welcome__article-info {
  text-align: left;
  margin: 0 0 0 95px;
  padding: 0 15px 24px 15px;
}

.welcome__article-info {
  flex-basis: 42%;
  margin: 0 95px 24px 0;
  padding: 0 15px;
  text-align: right;
}

.welcome__article-info h2 {
  font-weight: 500;
}

.welcome__article-info p {
  padding-bottom: 24px;
}

.welcome__article-info .btn:hover {
  background-color: #212529;
}

.welcome__article-img {
  width: 48%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.welcome__article-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #a2c0be;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: transform 0.15s ease-in-out;
}

.welcome__article-img:hover {
  cursor: pointer;
}

.welcome__article-img:hover:after {
  transform: translate(10px, 10px);
}

/* *********** 3. Section: About Us ********** */
.about-us {
  padding: 80px 0;
}

.about-us .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-us__info {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  margin: 0 95px 40px 0;
  padding: 0 15px;
}

.about-us__heading p.lead {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 300;
}

.about-us__heading p {
  margin-bottom: 24px;
}

.about-us__list {
  margin-top: 10px;
}

.about-us__list li {
  display: flex;
  margin-bottom: 15px;
}

.about-us__list li p {
  line-height: 1.5;
  padding-left: 16px;
}

.about-us__list li img {
  width: auto;
  height: 18px;
}

.about-us__video {
  flex-basis: 50%;
  padding: 0 15px;
  margin-bottom: 48px;
  position: relative;
}

.about-us__video::after {
  content: "▶";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-us__video:hover {
  cursor: pointer;
}

/* *********** 4. Section: Our trainers ********** */
.our-trainers {
  padding: 80px 0;
  background-color: #a2c0be;
  color: #567876;
}

.our-trainers__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.our-trainers__heading h2 {
  color: #405a58;
}

.our-trainers__heading p {
  width: 50%;
  text-align: center;
}

.our-trainers__list {
  display: flex;
}

.our-trainers__list-item {
  margin-bottom: 24px;
  padding: 0 15px;
}

.our-trainers__list-item h3 {
  margin: 30px 0 21px 0;
  padding: 0 16px;
  font-size: 21px;
  font-weight: 500;
  color: #405a58;
}

.our-trainers__list-item p {
  font-size: 16px;
  padding: 0 16px;
  margin-bottom: 16px;
}

.our-trainers__img {
  position: relative;
  z-index: 0;
}

.our-trainers__img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 98%;
  background-color: #405a58;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: transform 0.15s ease-in-out;
}

.our-trainers__img:hover {
  cursor: pointer;
}

.our-trainers__img:hover:after {
  transform: translate(10px, 12px);
}

.our-trainers__socials {
  padding: 0 15px;
  display: flex;
}

.our-trainers__socials li {
  margin: 5px;
  transition: transform 0.2s ease;
}

.our-trainers__socials li i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 13px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
}

.our-trainers__socials li:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

/* *********** 5. Section: Pricing table ********** */
.pricing-table {
  padding: 80px 0;
}

.pricing-table__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.pricing-table__heading p {
  width: 50%;
  text-align: center;
}

.pricing-table__card-list {
  display: flex;
}

.pricing-table__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
  background-color: #a2c0be;
  color: #fff;
}

.pricing-table__card .btn {
  background-color: #6c757d;
  font-size: 16px;
}

.pricing-table__card .btn:hover {
  background-color: #5a6268;
  cursor: pointer;
}

.pricing-table__card--dark {
  background-color: #343a40;
}

.pricing-table__card--dark .btn {
  background-color: #a2c0be;
}

.pricing-table__card--dark .btn:hover {
  background-color: #000;
  border: 1px solid #000;
  cursor: pointer;
}

.pricing-table__title {
  font-size: 28px;
  font-weight: 500;
}

.pricing-table__price {
  font-size: 16px;
}

.pricing-table__price span {
  font-size: 48px;
}

.pricing-table__list li {
  font-size: 16px;
  margin-bottom: 20px;
}

.pricing-table__list li span {
  margin-right: 15px;
}

.pricing-table__list .strike {
  opacity: 0.5;
  text-decoration: line-through;
}

.pricing-table__list .strike span {
  display: inline-block;
  text-decoration: none;
  opacity: 1;
}

/* *********** 6. Section: FAQ ********** */
.faq {
  padding: 80px 0;
}

.faq__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.faq__heading p {
  width: 50%;
  text-align: center;
}

.faq__questions {
  display: flex;
  align-items: flex-start;
}

.faq__list {
  width: 50%;
  margin-right: 50px;
  padding-right: 15px;
  cursor: pointer;
}

.faq__list-item {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
}

.faq__list-item article {
  width: 80%;
}

.faq__list-item article h3 {
  font-size: 19px;
  font-weight: 400;
  color: black;
  margin-bottom: 8px;
}

.faq__list-item article p {
  display: none;
}

.faq__list-item--active article p {
  display: block;
}

.faq__paw {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid #a2c0be;
  border-radius: 50%;
  background-image: url("/assets/img/paw2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60% 60%;
}

.faq .img-fluid {
  width: 50%;
  max-width: 100%;
  padding: 0 15px;
}

/* *********** 7. Section: Happy customers ********** */
.happy-customers {
  padding: 80px 0;
  background-color: #f8f9fa;
}

.happy-customers__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.happy-customers__list {
  align-items: flex-start;
  min-height: 510px;
}

.happy-customers__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  max-width: 340px;
}

.happy-customers__text {
  background-color: #a2c0be;
  margin-bottom: 24px;
  padding: 30px;
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  text-align: center;
  border-radius: 7px;
  position: relative;
}

.happy-customers__text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: #a2c0be transparent transparent transparent;
}

.happy-customers__photo {
  width: 100px;
  height: 100px;
  margin: 40px auto 20px auto;
  border: 10px solid #a2c0be;
  border-radius: 50%;
  overflow: hidden;
}

.happy-customers__photo img {
  width: 80px;
  height: 80px;
}

.happy-customers__name {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.happy-customers__arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.happy-customers__arrow {
  padding: 20px;
  font-size: 22px;
  color: #000;
  cursor: pointer;
}

/* *********** 8. Section: Photo gallery ********** */
.photo-gallery {
  padding: 80px 0;
}

.photo-gallery__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.photo-gallery__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.photo-gallery__gallery li {
  margin-bottom: -8px;
  transition: all 500ms ease;
}

.photo-gallery__gallery li:hover {
  z-index: 3;
  cursor: zoom-in;
  transform: scale(1.2);
}

/* *********** 9. Section: Dogger blog ********** */
.dogger-blog {
  padding: 80px 0;
}

.dogger-blog__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.dogger-blog__heading p {
  width: 50%;
  text-align: center;
}

.dogger-blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.dogger-blog__list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  margin-bottom: 24px;
  padding: 0 15px;
}

.dogger-blog__photo {
  max-width: 190px;
  margin-right: 30px;
}

.dogger-blog__title {
  display: inline-block;
  font-size: 21px;
  line-height: 27px;
  color: #000;
  transition: all 0.3s ease;
}

.dogger-blog__title:hover {
  color: #a2c0be;
}

.dogger-blog__date {
  color: #b3b3b3;
  margin: 8px 0;
}

.dogger-blog__btn {
  display: inline-block;
  color: #a2c0be;
  margin-top: 15px;
  transition: all 0.3s ease;
}

.dogger-blog__btn:hover {
  color: #7c9997;
}

/* *********** 10. Section: Our services ********** */
.our-services {
  padding: 80px 0;
}

.our-services__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.our-services__heading p {
  width: 50%;
  text-align: center;
}

.our-services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.our-services__list-item {
  margin-bottom: 24px;
  padding: 0 15px;
}

.our-services__photo {
  max-width: 100px;
}

.our-services__title {
  margin: 30px 0 16px 0;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  color: #000;
}

/* *********** 11. Section: Contact Us ********** */
.contact-us .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-us__form {
  padding: 48px;
  background-color: #a2c0be;
  color: #567876;
}

.contact-us__form h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 48px;
  color: #405a58;
}

.contact-us__form .btn {
  font-size: 16px;
  background-color: #343a40;
  color: white;
}

.contact-us__form-item {
  margin-bottom: 15px;
}

.contact-us__form-item label {
  display: inline-block;
  margin-bottom: 8px;
}

.contact-us__form-item input {
  width: 100%;
  height: 43px;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
}

.contact-us__form-item input:focus {
  outline: none;
}

.contact-us__form-item textarea {
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
  resize: vertical;
  padding: 6px 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.contact-us__form-item textarea:focus {
  outline: none;
}

.contact-us__form-item--joined {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-us__form-item--joined div:first-child {
  padding-right: 30px;
}

.contact-us__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 25% 0;
  background-color: #6C757D;
  color: gray;
}

.contact-us__list {
  color: #a8b1b8;
}

.contact-us__list-title {
  margin-top: 16px;
  color: #fff;
}

.contact-us__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.contact-us__heading h2 {
  color: #fff;
}

/* *********** 12. Footer ********** */
.footer {
  padding: 128px 0;
  color: gray;
  background-color: #333333;
}

.footer .container {
  display: grid;
  grid-template-columns: 280px 1fr 1fr 250px;
}

.footer section h2 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 24px;
}

.footer section:last-child {
  grid-column-start: span 4;
  margin-top: 48px;
  padding-top: 48px;
  text-align: center;
  font-size: 13px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer section:last-child i {
  color: #DC3545;
}

.footer__links {
  margin-left: 70px;
  padding: 0 15px;
}

.footer__links li {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer__links li a {
  color: #999999;
  transition: all 300ms ease;
}

.footer__links li a:hover {
  color: #fff;
}

.footer__follow {
  padding: 0 15px;
}

.footer__follow ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.footer__follow ul li {
  padding: 0 18px;
}

.footer__follow ul li a {
  color: #999999;
  transition: all 300ms ease;
}

.footer__follow ul li a:hover {
  color: #fff;
}

.footer__follow ul li:first-child {
  padding-left: 0;
}

.footer__subscribe input[type=email] {
  display: inline-block;
  width: 60%;
  height: 43px;
  padding: 6px 12px;
  font-size: 16px;
  background-color: #333333;
  color: #fff;
  border: 1px solid #6c757d;
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.footer__subscribe input[type=email]:focus {
  outline: none;
}

.footer__subscribe input[type=submit] {
  height: 43px;
  padding: 10px 30px;
  margin-left: -4px;
  font-size: 16px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .header__nav-desktop {
    display: none;
  }
  .header__hamburger {
    display: block;
    color: #000;
    font-size: 24px;
    padding-top: 12px;
  }
  .header__hamburger:hover {
    cursor: pointer;
  }
  .header__nav-mobile {
    flex-direction: column;
    width: 300px;
    padding: 50px 20px 150px 20px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background-color: #fff;
  }
  .header__nav-mobile-item a {
    display: inline-block;
    padding: 10px 20px;
    color: #212529;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    position: relative;
  }
  .header__nav-mobile-item a i {
    padding-left: 20px;
    vertical-align: text-top;
    padding-top: 7px;
    font-size: 13px;
  }
  .header__nav-mobile-item:first-child {
    align-self: flex-end;
  }
  .header__nav-mobile-item:first-child button {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 100;
    color: grey;
  }
  .header__nav-mobile-item:first-child button:hover {
    cursor: pointer;
    color: #000;
  }
  .header__nav-mobile-item:hover a {
    color: #a2c0be;
  }
  /* 7. Section: Happy customers */
  .happy-customers__list-item {
    max-width: 50%;
  }
  /* 8. Section: Photo gallery */
  .photo-gallery__gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  /* 11. Section: Contact Us */
  .contact-us__list {
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
    padding: 0 15px;
  }
  /* 1. Section: Header */
  .header__showcase-info {
    padding: 70px 15px 0 50px;
  }
  .header__showcase-info h1 {
    font-size: 32px;
  }
  .header__showcase-info p {
    width: 100%;
  }
  .header__showcase-img {
    flex-basis: 60%;
  }
  .header__showcase-img img {
    max-width: 100%;
  }
  /* 2. Section: Welcome */
  .welcome__heading p {
    width: 80%;
  }
  .welcome__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .welcome__article:nth-child(3) .welcome__article-info {
    margin: 0 0 24px 0;
    padding: 0 15px;
  }
  .welcome__article-info {
    flex-basis: 100%;
    order: 2;
    margin: 0 0 24px 0;
    padding: 0 15px;
    text-align: left;
  }
  .welcome__article-img {
    width: 100%;
    margin-bottom: 20px;
  }
  /* 3. Section: About Us */
  .about-us .container {
    flex-direction: column;
  }
  .about-us__info {
    flex-basis: 100%;
    margin: 0 0 40px 0;
  }
  /* 4. Section: Our trainers */
  .our-trainers__heading p {
    width: 100%;
  }
  .our-trainers__list {
    flex-wrap: wrap;
  }
  .our-trainers__list-item {
    flex-basis: 50%;
  }
  /* 5. Section: Pricing table */
  .pricing-table__heading p {
    width: 100%;
  }
  .pricing-table__card-list {
    flex-wrap: wrap;
  }
  .pricing-table__card {
    flex-basis: 50%;
  }
  /* 6. Section: FAQ */
  .faq__heading p {
    width: 100%;
  }
  .faq__questions {
    flex-direction: column;
  }
  .faq__list {
    width: 100%;
    order: 2;
    margin-top: 40px;
  }
  .faq__list-item article {
    width: 100%;
  }
  .faq .img-fluid {
    width: 100%;
  }
  /* 8. Section: Photo gallery */
  .photo-gallery__gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  /* 9. Section: Dogger blog  */
  .dogger-blog__heading p {
    width: 100%;
  }
  .dogger-blog__list-item {
    flex-direction: column;
  }
  .dogger-blog__photo {
    max-width: 100%;
    margin-right: 0;
  }
  /* 10. Section: Our services */
  .our-services__heading p {
    width: 100%;
  }
  .our-services__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .our-services__list-item {
    margin-bottom: 40px;
  }
  /* 11. Section: Contact Us */
  .contact-us .container {
    grid-template-columns: 1fr;
  }
  /* 12. Footer */
  .footer {
    padding: 60px 0;
  }
  .footer .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .footer section {
    margin-bottom: 40px;
  }
  .footer section:last-child {
    grid-column-start: span 2;
    margin-top: 0;
    padding-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 15px;
  }
  /* 1. Section: Header */
  .header__showcase .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__showcase-info {
    width: 100%;
    padding: 70px 15px 50px 50px;
    text-align: center;
  }
  .header__showcase-img img {
    max-width: 400px;
  }
  /* 2. Section: Welcome */
  .welcome {
    padding: 40px 0;
  }
  /* 3. Section: About Us */
  .about-us {
    padding: 40px 0;
  }
  /* 4. Section: Our trainers */
  .our-trainers {
    padding: 40px 0;
  }
  .our-trainers__heading p {
    width: 90%;
  }
  .our-trainers__list-item {
    flex-basis: 100%;
  }
  /* 5. Section: Pricing table */
  .pricing-table {
    padding: 40px 0;
  }
  .pricing-table__card {
    flex-basis: 100%;
  }
  /* 6. Section: FAQ */
  .faq {
    padding: 40px 0;
  }
  /* 7. Section: Happy customers */
  .happy-customers {
    padding: 40px 0;
  }
  .happy-customers__list-item {
    width: 100%;
  }
  .happy-customers__text {
    padding-bottom: 60px;
  }
  /* 8. Section: Photo gallery */
  .photo-gallery {
    padding: 40px 0;
  }
  /* 9. Section: Dogger blog  */
  .dogger-blog {
    padding: 40px 0;
  }
  .dogger-blog__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  /* 10. Section: Our services */
  .our-services {
    padding: 40px 0;
  }
  .our-services__list {
    grid-template-columns: repeat(1, 1fr);
  }
  /* 11. Section: Contact Us */
  .contact-us__form-item--joined {
    flex-direction: column;
    align-items: stretch;
  }
  .contact-us__form-item--joined div:first-child {
    padding-right: 0;
  }
  .contact-us__info {
    padding: 10% 0;
  }
  /* 12. Footer */
  .footer .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .footer section {
    margin-bottom: 40px;
    margin-left: 15px;
  }
  .footer section:last-child {
    grid-column-start: span 1;
    margin-top: 0;
    padding-top: 0px;
  }
  .footer__links {
    margin-left: 0px;
    padding: 0;
  }
  .footer__follow {
    padding: 0;
  }
}

@media screen and (max-height: 740px) {
  /* 1. Section: Header */
  .header__showcase-info {
    padding: 0 15px 50px 15px;
  }
  .header__showcase-img img {
    max-width: 200px;
  }
}
